* {
    font-family: 'Gowun Dodum', sans-serif;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    height: 350px;
    border: 1px solid #ddd ;
    margin: 20px auto 0px auto;
    box-shadow: 0px 0px 3px 0px grey;

}

th, td {
    text-align: left;
    padding: 10px;
}


.header {
    width: 100%;
    height: 250px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://movie-phinf.pstatic.net/20210715_95/1626338192428gTnJl_JPEG/movie_image.jpg');
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header>button {
    width: 200px;
    height: 50px;
    background-color: transparent;
    color: white;
    border-radius: 50px;
    border: 1px solid white;
    margin-top: 50 px;
    padding: auto;
}

.header>button:hover {
    border: 2px solid white
}

#menu {
    display: none;
}

body {
    height: 250px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://movie-phinf.pstatic.net/20210715_95/1626338192428gTnJl_JPEG/movie_image.jpg');
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form {
    width: 100%;
    height: 350px;
    max-width: 500px;
    margin: 20px auto 0px auto;
    padding-bottom: 0px;
    box-shadow: 0px 0px 3px 0px grey;
    align-items: center;
}